body {
    margin: 0px;
    background-color: #55C7E1;
    font-family: 'Open Sans', 'Silkscreen', sans-serif;
}

h1,
.submit-form-label {
    font-family: 'Silkscreen';
    font-size: 2rem;
}

label {
    font-weight: 700;
}

.home-container {
    height: 50rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-radius: 1.5rem;
    border: 2px dashed black
}

.home-nav {

    width: 23rem;
    display: flex;
    justify-content: space-around
}

.signup-container,
.login-container {
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

textarea {
    padding: 1.5rem;
    width: 15rem;
    height: 6rem;
}

.question-container {
    text-align: center;
}

.submit-container {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.submit-form {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.submit-form>* {
    margin-bottom: 0.8rem;
}

.question-nav {
    margin-left: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 2rem;
    padding-top: 1rem;
}

ul {
    display: grid;
    grid-template-columns: repeat(auto-fit, 15rem);
    gap: 2rem;
    list-style: none;
    padding: 0 2rem;
}

li {
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid black;
    padding: 1rem;
}


#topic-label {
    text-align: center;
    padding: 0 1rem;
    background-color: #F3CA40;
    color: #444545;
    border-radius: 0.5rem;
}

#post-questions {
    width: auto;
    height: 7rem;
    background-color: #FFFFFF;
    padding: 1rem;
    word-wrap: break-word;
    overflow: scroll;
}

#username-label {
    text-align: center;
    font-weight: 700;
    font-family: 'Silkscreen';
}

#topic {
    padding: 0 2rem;
    margin: 0.5rem 1rem;
    font-size: 1rem;
    text-align: center;
}

a,
button {
    font-size: 1rem;
    background: #2C302E;
    border: 1px solid #2C302E;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    text-decoration: none;

}

a:hover,
a:active,
button:hover,
button:active {
    background-color: initial;
    background-position: 0 0;
    color: #2C302E;
    text-decoration: none;
}


.yellow-btn {
    font-size: 1rem;
    background: #F9DC5C;
    border: 1px solid #F9DC5C;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.yellow-btn:hover,
.yellow-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FFFFFF;
    text-decoration: none;
}


.orange-btn {
    font-size: 1rem;
    background: #F37748;
    border: 1px solid #F37748;
    padding: 8px 10px;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #000000;
    cursor: pointer;
    text-decoration: none;
}

.orange-btn:hover,
.orange-btn:active {
    background-color: initial;
    background-position: 0 0;
    color: #FFFFFF;
    text-decoration: none;
}

@media(min-width:600px){
    h1,
    .submit-form-label {  
        font-size: 3rem;
    }
}
@media screen and (max-width: 600px) {

    label {
        font-size: 3rem;
        font-weight: 700;
    }

    .home-content {
        padding: 1rem 0rem;
    }

    .log-in-form,
    .sign-up-form {
        display: flex;
        flex-direction: column;
    }

    .question-nav {
        margin-left: 60%;
        height: 8rem;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-end;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }


}